absl-py==2.1.0
alabaster==0.7.16
altair==5.4.1
anyio==4.6.2.post1
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
babel==2.16.0
backports.tarfile==1.2.0
bleach==6.2.0
blinker==1.8.2
build==1.2.2.post1
cachetools==5.5.0
cbc==0.0.7
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
click==8.1.7
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.0
cryptography==43.0.3
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
docutils==0.21.2
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.81.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.67.1
h11==0.14.0
h5py==3.12.1
httptools==0.6.4
idna==3.10
imagesize==1.4.1
importlib-metadata==6.11.0
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.6.0
Keras-Preprocessing==1.1.2
keyring==25.5.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mip==1.16rc0
ml-dtypes==0.4.1
more-itertools==10.5.0
namex==0.0.8
narwhals==1.13.3
nest-asyncio==1.6.0
nh3==0.2.18
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
packaging==23.2
pandas==2.2.3
parso==0.8.4
pep517==0.13.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==1.10.18
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
readme_renderer==44.0
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
scipy==1.13.1
SecretStorage==3.3.3
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
starlette==0.19.1
streamlit==1.27.1
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.18.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
toml==0.10.2
tomli==2.0.2
tornado==6.4.1
traitlets==5.14.3
twine==5.1.1
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.32.0
uvloop==0.21.0
validators==0.34.0
watchfiles==0.24.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==14.0
Werkzeug==3.0.6
wrapt==1.16.0
zipp==3.20.2